@font-face {
   font-family: 'NotoSansArabic-VariableFont_wdth,wght';
   font-display: swap;
   src: url('file:///C:/Users/AutoRun%204U/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-12-20_092657/fonts/NotoSansArabic-VariableFont_wdth,wght/font.ttf');
}
